/* This is for the font style imported from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Nav style */
nav{
    display: flex;
    margin-left: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
/* Navigation title */
.Nav-title{
    font-size: 45px;
    margin: 0px;
    padding-left: 30px;
}
.R_color{
    color: blueviolet;
}
/* right side navigation style */
.Navigation{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-left: 50%;
    font-size: 20px;
}
/* Ancor tag for remnove ancor tag underline */
a{
    text-decoration: none;
}
/* ul for remove ul point */
ul{
    list-style: none;
}
/* Hire class from button tag to style button */
.Hire{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(253, 110, 10, 1);
    border-radius: 10px;
    cursor: pointer;
}