/* This is for the font style imported from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.developer{
        background-image: url("/git-dev-portfolio/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: 100px 100px;
    background-size: 100%;
}
/* Nav style */
nav{
    display: flex;
    margin-left: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    justify-content: space-between;
}
/* Navigation title */
.Nav-title{
    font-size: 45px;
    margin: 0px;
    padding-left: 30px;
}
.R_color{
    color: blueviolet;
}
/* right side navigation style */
.Navigation{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-left: 50%;
    font-size: 20px;
    margin-right: 100px;
}
/* Ancor tag for remnove ancor tag underline */
a{
    text-decoration: none;
    color:rgb(0, 0, 0); 
}
/* ul for remove ul point */
ul{
    list-style: none;
}
/* Hire class from button tag to style button */
.Hire{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(253, 110, 10, 1);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: none;
}
/* developer image editing */
.developer{
    display: flex;
    justify-content: space-between;
}
/* Hardy image edit */
.Hardy{
    margin-right: 3%;
    padding-left: 100px;
}
/* In section section tag inside the div all are edited by the class name="about_me" */
.About_me{
    margin-top: 15%;
    justify-content: baseline;
    text-align: initial;
    padding-left: 10%;
}
/* in section there is a h2 tag where hi, iam written */
section div h2{
    font-size: 30px;
}
/* IN section tag h1 where Hardy name is written*/
section div h1{
    font-size: 40px;
}
/* IN section tag paragraph written */
section div p{
    font-size: 20px;
}
/* Button deisgn in section tag */
button{
    cursor: pointer;
    padding: 5px 30px;
    margin-right: 15px;
    background-color: rgba(253, 110, 10, 1);
    border-radius: 10px;
    border: none;
}
.first_div{
    background-color: rgba(248, 246, 243, 0.651);
    margin: 10% 10%;
    padding-top: 3px;
    padding-bottom: 50px;
}
/* about myselft section inside div design */
.second_div{
    text-align: center;
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 100px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.329);
}
/* about me outside div design */
.Fotter_paragraph{
    text-align: center;
}