/* This is for the font style imported from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.developer{
        background-image: url("/git-dev-portfolio/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: 100px 100px;
    background-size: 100%;
}
/* Nav style */
nav{
    display: flex;
    margin-left: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    justify-content: space-between;
}
/* Navigation title */
.Nav-title{
    font-size: 45px;
    margin: 0px;
    padding-left: 30px;
}
.R_color{
    color: blueviolet;
}
/* right side navigation style */
.Navigation{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-left: 50%;
    font-size: 20px;
    margin-right: 100px;
}
/* Ancor tag for remnove ancor tag underline */
a{
    text-decoration: none;
    color:rgb(0, 0, 0); 
}
/* ul for remove ul point */
ul{
    list-style: none;
}
/* Hire class from button tag to style button */
.Hire{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(253, 110, 10, 1);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: none;
}
/* developer image editing */
.developer{
    display: flex;
    justify-content: space-between;
}
/* Hardy image edit */
.Hardy{
    margin-right: 3%;
    padding-left: 100px;
}
/* In section section tag inside the div all are edited by the class name="about_me" */
.About_me{
    margin-top: 15%;
    justify-content: baseline;
    text-align: initial;
    padding-left: 10%;
}
/* Button deisgn in section tag */
button{
    cursor: pointer;
    padding: 5px 30px;
    margin-right: 15px;
    background-color: rgba(253, 110, 10, 1);
    border-radius: 10px;
    border: none;
}
.Description{
    padding: 131px 157px;
    border: 1px solid blue;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 100px;
       background-color: rgba(255, 248, 243, 1);
}
.Inside-description{
    border: 1px solid blue;
    background-color: white;
}

.header{
    text-align: center;
}
.paragrah{
    text-align: center;
    color: rgba(117, 117, 117, 1);
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-name{
    font-weight: bold;
    color: black;
    text-align: center;
}
.about-description{
    font-weight: 600;
    text-align: center;
}
.What-to-do{
    text-align: center;
    margin-top: 100px;
}
.What-to-do p{
    color: rgba(117, 117, 117, 1);
    text-align: center;
    padding-left: 345px;
    padding-right: 346px;
}